// Per-app window rules previously stored by DankMaterialShell.
// Copied as-is so they remain user-owned and do not depend on DMS.

window-rule {
    match app-id="^zen$"
    open-maximized true
}

window-rule {
    match app-id="^helium$"
    open-maximized true
}

window-rule {
    match app-id="^org.gnome.NautilusPreviewer$"
    open-floating true
}

window-rule {
    match app-id="^antigravity$"
    open-maximized true
}

window-rule {
    match app-id="^XEyes$"
    open-floating true
}

window-rule {
    match app-id="^libreoffice-calc$"
    open-maximized true
}

window-rule {
    match app-id="^code$"
    open-maximized true
}

window-rule {
    match app-id="^mpv$"
    open-floating true
}

window-rule {
    match app-id="^dev.zed.Zed$"
    open-maximized true
    background-effect {
        blur true
    }
}

window-rule {
    match app-id="^steam$"
    open-maximized true
}

window-rule {
    match app-id="^Google-chrome$"
    open-maximized true
}

window-rule {
    match app-id="^gitkraken$"
    open-maximized true
}

window-rule {
    match app-id="^google-chrome$"
    open-maximized true
}

window-rule {
    match app-id="^Alacritty$"
}

window-rule {
    match app-id="^com.mitchellh.ghostty$"
}

window-rule {
    match app-id="^Aseprite$"
    open-maximized true
}

window-rule {
    match app-id="^com.gabm.satty$"
    open-floating true
}

window-rule {
    match app-id="^steam_app_3596700$"
    open-fullscreen true
}

window-rule {
    match app-id="^steam_app_\\d+$"
    open-fullscreen true
}

window-rule {
    match app-id="^nwg-look$"
    background-effect {
        blur true
    }
}

window-rule {
    match app-id="^moe.tsuna.tsukimi$"
    background-effect {
        blur true
    }
}

window-rule {
    match app-id="^app.liten.Gram$"
    background-effect {
        blur true
    }
}

window-rule {
    match app-id="dev.noctalia.Noctalia"
    open-floating true
    default-column-width { fixed 1080; }
    default-window-height { fixed 920; }
    border {
        off
    }

    focus-ring {
        off
    }


}
